/ {
  behaviors {
    modquad_backslash: modquad_backslash {
      compatible = "zmk,behavior-modquad";
      label = "Backslash four-mod key";
      #binding-cells = <0>;

      bindings = <
        0x2D  // Minus (\)
        0x38  // Slash (?)
        0x2E  // Equal (+)
        0x64  // Non-US Backslash (|)
        >;
    };

        macro_press: macro_press {
        compatible = "zmk,behavior-macro";
        label = "Macro Press";
        #binding-cells = <2>;
        bindings = <&kp>;
    };


    tdA: tap_dance_0 {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp A>, <&kp QMARK>;
    };

    tdE: tap_dance_1 {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp E>, <&kp PLUS>;
    };

    tdU: tap_dance_2 {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp U>, <&kp PIPE2>;
    };

    tdOE: tap_dance_3 {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp OE>, <&kp APOS>;
    };

    tdAE: tap_dance_4 {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp AE>, <&kp EQUAL>;
    };
    tdAO: tap_dance_5 {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp AO>, <&kp _PLUS>;
    };
  };
};
