/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define _PG GRAVE
#define _PLUS MINUS
#define _ACCENT EQUAL
#define AO LBKT
#define _DCT RIGHT_BRACKET  // for DIAERSIS CIRCUMFLEX TILDE
#define OE SEMICOLON
#define AE APOSTROPHE
#define _APS BACKSLASH
#define _LGP NON_US_BACKSLASH // Less Greater Pipe
#define _MINUS SLASH
#define LSBS LSHIFT BACKSPACE
#define RABS RALT BACKSPACE
#define LABS LALT BACKSPACE
#define LSSP LSHIFT SPACE
#define LSRE LSHIFT RETURN
#define RATA RALT TAB
#define M_FSLH LS(N7)
#define _LL LOWER BACKSPACE
#define _RL RAISE SPACE

#define BASE 0
#define RAISE 1
#define LOWER 2

/ {
    behaviors {
        tdA: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp A>, <&kp QMARK>;
        };

        tdE: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp E>, <&kp PLUS>;
        };

        tdU: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp U>, <&kp PIPE2>;
        };

        tdOE: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp OE>, <&kp APOS>;
        };

        tdAE: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp AE>, <&kp EQUAL>;
        };

        tdAO: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp AO>, <&kp _PLUS>;
        };
    };
    
    macros {
        m_bslh: m_bslh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp MINUS>
                , <&macro_release &kp RALT>
                ;
        };
        m_tilde: m_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp KP_N1 &kp KP_N2 &kp KP_N6>
                , <&macro_release &kp RALT>
                ;
        };
        m_apr: m_apr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp KP_N9 &kp KP_N6>
                , <&macro_release &kp RALT>
                ;
        };
    };

    keymap {
        // Activate ADJUST layer by pressing raise and lower
        compatible = "zmk,keymap";
        default_layer {
        display-name = "Default";    
          bindings = <
// ╭───────────┬───────────┬───────────┬────────────┬────────────┬────────────╮                               ╭───────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮
      &kp ESC     &kp N1      &kp N2       &kp N3       &kp N4      &kp N5                                       &kp N6       &kp N7        &kp N8        &kp N9        &kp N0     &kp _MINUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤                               ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
      &m_tilde     &kp Q       &kp W        &tdE         &kp R       &kp T                                        &kp Y        &kp U         &kp I          &kp O        &kp P       &tdAO
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤                               ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
     &mt LSBS      &tdA        &kp S        &kp D        &kp F       &kp G                                        &kp H        &kp J         &kp K          &kp L        &tdOE       &tdAE
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤ ╔════════════╗ ╔════════════╗ ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp LCTRL    &kp Z       &kp X        &kp C        &kp V       &kp B         &kp C_MUTE      &kp C_PP       &kp N        &kp M        &kp COMMA      &kp DOT     &kp M_FSLH   &m_bslh
// ╰───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤ ╚════════════╝ ╚════════════╝ ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────╯
                 &kp LALT    &kp PLUS    &kp LGUI      &lt _LL      &mt RATA                                    &mt LSRE     &lt _RL      &kp K_APP     &kp TILDE     &kp PIPE
//             ╰───────────┴───────────┴────────────┴────────────┴────────────╯                               ╰───────────┴─────────────┴─────────────┴─────────────┴────────────╯
          >;
          sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };
raise_layer {
  display-name = "Movment";    
    bindings = <
// ╭───────────┬───────────┬───────────┬────────────┬────────────┬────────────╮                               ╭───────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮
 &none       &none       &none       &none         &none       &none                                      &kp PSCRN   &kp K_CALC   &kp LC(HOME)     &kp INS       &none     &bootloader
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤                               ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
 &none       &none       &none       &none         &none       &none                                        &none      &kp HOME        &kp UP       &kp END       &none        &none
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤                               ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
 &none   &kp LC(BSPC)  &kp BSPC     &kp DEL    &kp LC(DEL)     &none                                        &none     &kp LC(LEFT)   &kp DOWN    &kp LC(RIGHT)    &none      &kp PG_UP
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤ ╔════════════╗ ╔════════════╗ ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
 &none       &none       &none     &kp LC(X)       &none       &none        &kp C_MUTE      &kp C_PP        &none      &kp LEFT     &kp LC(END)    &kp RIGHT      &none      &kp PG_DN
// ╰───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤ ╚════════════╝ ╚════════════╝ ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────╯
             &none       &none       &none       &kp _LL       &none                                        &none        &none         &none         &none         &none         
//             ╰───────────┴───────────┴────────────┴────────────┴────────────╯                               ╰───────────┴─────────────┴─────────────┴─────────────┴────────────╯
    >;
    sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
  };

  lower_layer {
  display-name = "Coder";    
    bindings = <
// ╭───────────┬───────────┬───────────┬────────────┬────────────┬────────────╮                               ╭───────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮
      &kp F1     &kp F2      &kp F3      &kp F4        &kp F5      &kp F6                                       &kp F7       &kp F8        &kp F9        &kp F10       &kp F11      &kp F12  
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤                               ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
      &m_apr    &kp EXCL       &none       &none         &none       &none                                        &none        &none         &none         &none         &none        &none
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤                               ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
      &none       &none       &none       &none         &none       &none                                        &none        &none         &none         &none         &none        &none
// ├───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤ ╔════════════╗ ╔════════════╗ ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤
      &none       &none       &none       &none         &none       &none        &kp C_MUTE      &kp C_PP        &none        &none         &none         &none         &none        &none
// ╰───────────┼───────────┼───────────┼────────────┼────────────┼────────────┤ ╚════════════╝ ╚════════════╝ ├───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────╯
                  &none       &none       &none       &none         &none                                        &none        &none         &none         &none         &none         
//             ╰───────────┴───────────┴────────────┴────────────┴────────────╯                               ╰───────────┴─────────────┴─────────────┴─────────────┴────────────╯
    >;
    sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
  };
    };
};
